.product {
  background-color: var(--container-bg);
  border-radius: 4px;
  column-gap: 18px;
  display: grid;
  grid-template-areas:
    "image image image image image image image sidebar sidebar sidebar"
    ". . . . . . . . . ."
    "description description description description description description description . . .";
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto 69px 1fr;
  padding: 32px;
  row-gap: 18px;

  @media (min-width: 780px) and (max-width: 1170px) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "image image image sidebar sidebar sidebar"
        ". . . . . ."
        "description description description description description description";
    grid-template-rows: auto 32px 1fr;
  }

  @media (max-width: 779px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "image image image"
        "sidebar sidebar sidebar"
        ". . ."
        "description description description";
    grid-template-rows: auto auto 32px 1fr;
  }
}

.picture {
  grid-area: image;
  max-height: 750px;
  text-align: center;

  img {
    max-height: 100%;
  }
}

.sidebar {
  display: block;
  grid-area: sidebar;
  padding-top: 32px;
}

.attributes {
  font-size: 14px;
  margin-bottom: 16px;
}

.title {
  font-size: 24px;
  margin-bottom: 32px;
}

.price_container {
  align-items: flex-end;
  display: flex;
  margin-bottom: 32px;

  img {
    margin-left: 10px;
  }
}

.price {
  align-items: flex-start;
  display: flex;
  font-size: 46px;
  font-weight: 400;
  margin-bottom: 0;

  sup {
    font-size: 18px;
    font-weight: 400;
    padding: 5px 2px;
  }

}

.buy_button {
  background-color: var(--primary-button-bg);
  border: 0;
  border-radius: 4px;
  color: var(--primary-button-color);
  cursor: pointer;
  display: inline-block;
  padding: 14px;
  transition: .4s;
  width: calc(100% - 32px);

  &:hover {
    background-color: var(--primary-button-hover-bg);
  }
}

.description {
  grid-area: description;
  margin-left: 32px;

  h4 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 32px;
  }

  > div {
    color: var(--description-color);
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.errorcontainer {
  background-color: var(--container-bg);
  border-radius: 4px;
  column-gap: 18px;
  display: grid;
  grid-template-areas: "image image image image image image image sidebar sidebar sidebar";
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  min-height: 50vh;
  padding: 32px;
  row-gap: 18px;

  @media (min-width: 780px) and (max-width: 1170px) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "image image image sidebar sidebar sidebar";
    grid-template-rows: auto;
  }

  @media (max-width: 779px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "image image image"
        "sidebar sidebar sidebar";
    grid-template-rows: auto auto;
  }
}